form {
  display: flex;
  flex-direction: column;
  height: 40vh;
  width: 100vw;
  justify-content: center;
}
form > label {
  flex-basis: 30px;
  width: 100%;
  /* display: flex; */
  line-height: 30px;
  justify-content: center;
  margin-top: 15px;
}
form > label > input {
  flex-basis: 60%;
  margin-left: 20px;
}
label > input[type="checkbox"] {
  flex-basis: 5%;
}
input[type="submit"] {
  flex-basis: 20%;
  width: 30%;
  align-self: center;
  padding: 10px 20px;
  margin-top: 20px;
  border: 2px solid yellowgreen;
  background-color: rgb(237, 245, 220);
  color: yellowgreen;
  transition: 0.4s;
}
input[type="submit"]:hover {
  cursor: pointer;
  background-color: orangered;
  border-color: darkblue;
  color: darkblue;
}
span {
  transition: 0.4s;

  margin: 10px;
  color: red;
  font-size: 10px;
}
